body, html {
	margin: 0 auto;		
}
*{
	box-sizing: border-box;
}
.m_width{
	padding-left: 150px;
	padding-right: 150px;	
	/*max-width: 100%;
	width: 1066px;*/	
}

.header {	
	min-height: 805px;	
	background-color: rgba(239,240,242, 0.99);
	padding-top: 64px;
}
.section1 {
	min-height: 984px;	
	background-color: #f8fafa;	
}
.logo {
	border: 6px solid #170f1c;
	padding: 15px 15px;
}
.burger {
	height: 20px;
	width: 30px;
	box-sizing: border-box;
	float: right;
}
.burger_line {
	height: 4px;
	width: 100%;
	background-color: rgba(0,0,0, 0.6);
	margin-top: 4px;
	border-radius: 2px;	
}
.hellodiv {
	margin-top: 206px;
	width: 1000px;
	padding-left: 73px;
}
.hello, .agency {
	margin-top: 206px;
	font-family: Montserrat;
	font-size: 45px;
	font-weight: 700;
	color: #505050;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2.7px;
	text-shadow: 4px 8px 10px rgba(0,0,0, 0.24);
	/*line-height: 28px;*/
	min-height: 45px;	
}
.purple {
	background-color: rgba(118,244,234, 0.5);
	padding: 10px 15px;
}
 .agency {
 	margin-top: 48px;
 }
.contact {
	text-decoration: none;
	border: 2px solid rgba(0,0,0, 0.5);
	border-radius: 2px;
	padding: 20px 48px;
	text-align: center;
	color: rgba(0,0,0, 0.5);
	letter-spacing: 2.16px;
	font-family: Montserrat;
	font-weight: 400;	
	box-sizing: border-box;	
}
.con {
	text-align: center;
	margin-top: 196px;
	/*max-width: 232px;*/
}
.juce {
	float: right;	
}
.about {
	font-size: 38px;
	font-weight: 700;	
	text-align: center;
	color: #000000;
	letter-spacing: 2.2;
	font-family: Montserrat;	
	padding-top: 129px;
}
.lorem {
	font-size: 18px;
	font-family: Merriweather;
	font-weight: 400;
	color: rgba(0,0,0, 0.62);
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 17px;	
}
.imglogo {
	height: 483px;	
	vertical-align: middle;
	display: inline-block;
	margin-top: 152px;
/*	background: url(../img/image.png);
	background-position: center;*/
	background-repeat: no-repeat;
	background-color: #eff0f2;
	/*background: rgb(239,240,242);*/
	/*background-size: 412px 479px;	
	*/
	
}
.imglogo, .text {
	width: calc((100% - 113px) / 2);
}
.text {
	min-height: 483px;	
	vertical-align: middle;
	display: inline-block;
	margin-left: 105px;
	font-size: 16px;
	color: rgba(0,0,0, 0.74);
	font-family: Raleway;
	letter-spacing: 0.8px;
	margin-top: 152px;
	padding: 0px;
}
form {
	margin-left: 195px;
}
.title1 {
	font-size: 20px;
	text-transform: uppercase;
	font-family: Merriweather;
	color: rgba(0,0,0, 0.75);
	letter-spacing: 1.2px;
	font-weight: 700;	
}
.title2 {
	font-size: 17px;
	text-transform: uppercase;
	font-family: Merriweather;
	color: rgba(0,0,0, 0.75);
	letter-spacing: 1px;
	font-weight: 700;
	font-style: bold;
}
label{
	display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 5px;
    margin-right: 10px; 
}
input[type=radio] {
    display: none;
}
label:before {
	content: " ";
    display: inline-block;
    width: 10px;
    height: 10px;
 	background-color: #d0d0d0;
}
input[type=radio]:checked + label:before {	   
    background-color: #71f6eb;   
    font-size: 12px;
 	text-align: center;
    line-height: 10px;    
}
.chair {
	margin-left: 76px;
}
.featured {
	padding-top: 0px;
	min-height: 1066px;
	background-color:  #f8fafa;	
}
.featur{
	padding-top: 129px;
	text-align: center;
	font-family: Montserrat;	
	font-weight: 700;
	font-size: 38px;
	line-height: 28px;
	color: rgba(0,0,0, 0.90);
	letter-spacing: 2.2px;
	text-transform: uppercase;	
	margin: 0px;
}
.line_one, .line_two {
	display: inline-block;
	height: 359px;
	width: calc((100% - 30px) / 3);	
}
.line_one{
	margin-top: 122px;
}
.services{	
/*	margin-top: 0px;*/
	height: 1618px;
	background-color: #f9fbfb;	
}
.lineBlockOne, .lineBlockTwo {
	height: 422px;	
	margin-top: 122px;
}
.lineBlockOne {
	width: calc((100% - 15px) * 0.566);
	background: url(../img/dieta.png);
	display: inline-block;
	vertical-align: middle;
}
.lineBlockTwo {
	width: calc((100% - 15px) * 0.412);
	background: url(../img/tabl.png);
	display: inline-block;
	vertical-align: middle;
}
.lineBlockTree{
	width: calc((100% - 15px) * 0.566);
	background: url(../img/mac.png);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	background-color: #e2e2e2;
	margin-top: 5px;
	vertical-align: middle;
}
.lineBlockFo {
	width: calc((100% - 15px) * 0.412);
	background: url(../img/imac.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	margin-top:5px;
	vertical-align: middle;
}
.lineBlockFiv {
	width: calc((100% - 15px) * 0.412);
	background: url(../img/bottle.png);
	display: inline-block;
	background-size: cover;
	margin-top: 5px;
	vertical-align: middle;
}
.lineBlockSix{
	width: calc((100% - 15px) * 0.566);
	background: url(../img/others.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	margin-top: 5px;
	vertical-align: middle;
}
.lineBlockTree, .lineBlockFo, .lineBlockFiv, .lineBlockSix {
	height: 371px;	
}
.titleInBlock {
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	padding-left: 66px;
	padding-top: 63px;
	line-height: 29px;
	color: #000000;
}
.textInBlock {
	color: #000000;
	font-size: 16px;
	font-family: Raleway;
	letter-spacing: 0.4px;
	line-height: 28px
	font-weight: 400;
	padding-left: 66px
}
.lineBlockOne > .titleInBlock, .textInBlock {
	opacity: 0;
}
.lineBlockTwo > .otherTitle, .otherTextInBlock, .arrayaa {
	opacity: 0;
}
.lineBlockTree > .otherTitle, .otherTextInBlock, .arrayaa {
	opacity: 0;
}
.lineBlockFo > .otherTitle, .otherTextInBlock, .arrayaa {
	opacity: 0;
}
.lineBlockFiv > .otherTitle, .otherTextInBlock, .arrayaa {
	opacity: 0;
}
.lineBlockSix > .otherTitle, .otherTextInBlock, .arrayaa {
	opacity: 0;
}
div:hover #seeText{
	opacity: 1;	
}
#see:hover {
	background: rgb(109,246,235, 0.97);	
}
#seeOtherBlock:hover {
	background: rgba(0,0,0, .6);
}
.otherTitle{
	font-family: Merriweather;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	padding-left: 66px;
	padding-top: 63px;
	line-height: 29px;
	color: rgb(255,255,255);
	text-align: left;
}
.otherTextInBlock {
	color: rgb(255,255,255);
	font-size: 16px;
	font-family: Raleway;
	letter-spacing: 0.4px;
	line-height: 28px;
	font-weight: 400;
	padding-left: 66px;
	text-align: left;	
}
.arrayaa {
	color: rgb(255,255,255);
	font-size: 18px;
	font-family: Raleway;
	letter-spacing: 0.7px;
	line-height: 85px;
	font-weight: 500;
	padding-left: 66px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: left;
}
.smallTeam {
	min-height: 1314px;
	background-color: #f8fafa;
}
.smallTeamLineOne, .smallTeamLineTwo {
	width: calc((100% - 30px) / 3);
	min-height: 440px;	
	display: inline-block;
	vertical-align: middle;
}
.smallTeamLineOne {
	margin-top: 123px;
}
.smallTeamLineTwo {
	margin-top: 6px;
}
.pictOne {
	background: url(../img/woman1.png);
	background-size: cover;
}
.pictTwo {
	background: url(../img/afro.png);
	background-size: cover;
}
.pictTree {
	background: url(../img/man.png);
	background-size: cover;
}
.pictFo {
	background: url(../img/man2.png);
	background-size: cover;
}
.pictFiv {
	background: url(../img/woman2.png);
	background-size: cover;
}
.allRayan {
	margin-top: 184px;
	margin-left: 18px;
	background: #6df6eb;
	height: 200px;
	width: calc(100% - 32px); 	
}
.bock {   
    padding: 20px;
    position: relative;
    color: #fff;
}
.bock:after {
	content: ''; 
    position: absolute;   
    left: 30px;
    top: 184px;
	border: 20px solid transparent;
	border-bottom: 20px solid #6df6eb;
}
.rayhan{
	font-family: Merriweather;
	font-size: 15px;
	color: #000000;
	letter-spacing: 0.4px;
	
	/*margin-left: 15px;*/
	padding-top: 43px;
	padding-left: 15px;
}
.ui {
	font-family: Merriweather-Regular;
	color: #767070;
}
.ipsun {
	margin-top: 15px;
	margin-left: 15px;
	font-size: 14px;
	font-family: Raleway-Regular;
	color: #000000;
	letter-spacing: 0.1px;
}
.face {
	margin-left: 15px;
}
.allRayan, .bock {
	opacity: 0;
}
/*.smallTeamLineOne:hover {
	opacity: 1;
}*/
div:hover #iWantSeeThisBock {
	opacity: 1;
}